{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="http://test99.cn/sklp/">首页</a>


 <a href="/dzz/xiaofeijilu/shouyin">收银</a>   
 |  
      <a  href="/dzz/xiaofeijilu/" target="_blank" >收款记录</a>  |
      <a  href="/dzz/huiyuan/" target="_blank" >会员管理</a>  |
      <a  href="/dzz/huiyuan/add/" target="_blank" >添加会员</a>
      
      |
      <a  href="/dzz/yifu/" target="_blank" >衣服管理</a>  |
      <a  href="/dzz/yifu/add/" target="_blank" >添加衣服</a>
	 </h1>
{% endblock %}

{% block nav-global %}{% endblock %}
